In [213]:
import pandas as pd

grna = pandas.read_excel('C:/Users/최민재/test/gRNA off target.xlsx',sheet_name = 3)
print (grna)
df = grna.loc[:, ['crRNA' ,'Position']]

df_2 = grna.loc[:, ['target']]

i=0

l = len(df)

while i < l:
    ps = df.iloc [i]['Position']
    cr = df.iloc [i]['crRNA']
    if ps > 831247 or ps < 830503:
        idx = df_2[df_2['target']==cr].index
        df_2 = df_2.drop(idx)
    i=i+1

print (df_2)

df_2.to_excel("C:/Users/최민재/test/mutM rev.xlsx")

                   target  Unnamed: 1  Unnamed: 2  Unnamed: 3 #Bulge type  \
0    GCATGTTTAGTCGCCACAAT         NaN         NaN         NaN           X
1    GGCGTACCGCACACCCGACA         NaN         NaN         NaN         DNA
2    AATTCCTGAGCGAAATAGCC         NaN         NaN         NaN         DNA
3    AGTGATGACGCCAGCCGATC         NaN         NaN         NaN         DNA
4    ATGACGCCAGCCGATCCGGA         NaN         NaN         NaN         RNA
..                    ...         ...         ...         ...         ...
593                   NaN         NaN         NaN         NaN         RNA
594                   NaN         NaN         NaN         NaN         RNA
595                   NaN         NaN         NaN         NaN         RNA
596                   NaN         NaN         NaN         NaN         RNA
597                   NaN         NaN         NaN         NaN         RNA

                    crRNA                       DNA   Chromosome  Position  \
0    GCATGTTTAGTCGCCACAAT   GCATGTTTAGTCGCCACAATCGG  E.coli_K-12    831247
1    GCATGTTTAGTCGCCACAAT  cGCATGTTTAGTCGCCACAATCGG  E.coli_K-12    831247
2    GCATGTTTAGTCGCCACAAT  cgCATGTTTAGTCGCCACAATCGG  E.coli_K-12    831247
3    GCATGTTTAGTCGCCACAAT  cgcATGTTTAGTCGCCACAATCGG  E.coli_K-12    831247
4    GCATGTTTAGTCGCCACAAT   c-ATGTTTAGTCGCCACAATCGG  E.coli_K-12    831247
..                    ...                       ...          ...       ...
593  GTTTCAACTTCGGGTAATTC   GTTTCAACTTCGGG-tAaTtCAG  E.coli_K-12    830504
594  GTTTCAACTTCGGGTAATTC   GTTTCAACTTCGGGT-AaTtCAG  E.coli_K-12    830504
595  GTTTCAACTTCGGGTAATTC   GTTTCAACTTCGGGTA-aTtCAG  E.coli_K-12    830504
596  GTTTCAACTTCGGGTAATTC   GTTTCAACTTCGGGTAA-TtCAG  E.coli_K-12    830504
597  GTTTCAACTTCGGGTAATTC   GTTTCAACTTCGGGTAAT-tCAG  E.coli_K-12    830504

    Direction  Mismatches  Bulge Size
0           -           0           0
1           -           1           1
2           -           2           1
3           -           3           1
4           -           1           1
..        ...         ...         ...
593         -           3           1
594         -           2           1
595         -           2           1
596         -           1           1
597         -           1           1

[598 rows x 12 columns]
                   target
0    GCATGTTTAGTCGCCACAAT
7    CCATTGAAATCGTCGCTAAG
10   AAGCGGCTCCGGTCCAAGAT
15   GGCACCAAAGCGGCGCGGAT
17   TCCACATGGTCATGCTTTTC
..                    ...
593                   NaN
594                   NaN
595                   NaN
596                   NaN
597                   NaN

[569 rows x 1 columns]